PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

SUPABASE_URL=https://annokzbkcdcgehattxct.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubm9remJrY2RjZ2VoYXR0eGN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NjIyNDksImV4cCI6MjA5NTQzODI0OX0.iBQrapLywI6XmPuHIOJ-9t5QOVvhP5kXOSJ4piF9Zyg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubm9remJrY2RjZ2VoYXR0eGN0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTg2MjI0OSwiZXhwIjoyMDk1NDM4MjQ5fQ.pMwEM2LOjGLmW5DTjq4HQ9UW8ZSby78Xg2mEBChCMLE


TRON_FULL_HOST=https://api.trongrid.io
TRONGRID_API_KEY=
USDT_TRC20_CONTRACT=TXLAQ63Xg1NAzckPwKHvzw7CSEmLMEqcdj
PLATFORM_DEPOSIT_ADDRESS=TXYZplatformwalletdemo
DEPOSIT_WALLET_POOL=TXYZplatformwalletdemo,TAAAuserdemo,TBBBuserdemo

DEMO_AUTO_CONFIRM=true
DEMO_CONFIRM_SECONDS=14
DEPOSIT_EXPIRY_MINUTES=5
